@model IEnumerable<Lifesum.Models.CreateRecipe>

@foreach (var item in Model)
{
    foreach(var item1 in item.food)
    { 

    foreach (var items in ViewBag.Food)
    {
        if(items.FoodId == item1)
        {
        <tr>
            <td>@items.FoodId</td>
            <td>@items.title</td>
            <td>
                <form asp-action="" asp-route-Id="" style="display: inline-block">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
            }
        }
    }
}